* {
  box-sizing: border-box;
}

:root {
  --primary-color: #7264d6;
  --secondary-color: #212832;
  --text-color: #696d76;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background: #fff;
}

/* Common */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 58px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 149px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 8px;
  background: var(--primary-color);

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  color: #fff;
}

.btn:hover {
  opacity: 90%;
  cursor: pointer;
}

.text-desc {
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--text-color);
}

/* Header */
.header {
  padding: 26px 0;
}

.header__body {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: 70px;
}
.navbar__list {
  display: flex;
}

.navbar__link,
.header-cta__login {
  padding: 8px 24px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--text-color);
}

.navbar__link:hover,
.header-cta__login:hover {
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active {
  position: relative;
  color: var(--secondary-color);
}

.navbar__link--active::after {
  position: absolute;
  bottom: 7px;
  left: 23px;

  content: "";
  display: inline-block;
  width: calc(100% - 48px);
  height: 1px;
  border-radius: 0.5px;
  background: var(--primary-color);
}

.header-cta {
  margin-left: auto;
}
.header-cta__login {
  margin-right: 4px;
}

.header-cta__sign-up {
  --height: 52px;
  min-width: 113px;
  background: var(--secondary-color);
}

.header-cta__sign-up:hover {
  opacity: 90%;
}

/* Hero */
.hero {
  margin-top: 50px;
}

.hero__body {
  display: flex;
  align-items: center;
}
.hero__content {
  width: 46%;
}
.hero__label {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #696d77;
  margin-left: 30px;
}

.hero__label::before {
  position: absolute;
  top: 14px;
  left: -30px;

  content: "";
  width: 18px;
  height: 2px;
  background: var(--text-color);
}

.hero__heading,
.hero__span {
  margin-top: 12px;
  color: var(--secondary-color);
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.17;
}
.hero__span {
  color: var(--primary-color);
}
.hero__desc {
  margin-top: 20px;
  width: 540px;
}
.subscribe-form {
  margin-top: 40px;
  display: flex;
  align-items: center;

  width: 540px;
  height: 74px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}
.subscribe-form__input {
  padding: 23px;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: inherit;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--text-color);
}
.subscribe-form__submit {
  margin: 8px 8px 8px 0;
  outline: none;
  border: none;
}
.subscribe-form__desc {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71;
  color: var(--text-color);
}

.hero__media {
  position: relative;
  margin-left: 160px;
}
.hero__img {
  width: 296px;
  height: 562px;
  border-radius: 40px;
}

.hero__deposit,
.hero__interest,
.hero__fund {
  position: absolute;
}

.hero__deposit {
  display: flex;
  align-items: center;
  top: 113px;
  left: -100px;
  padding: 14px 10px;

  width: 174px;
  height: 46px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
  font-size: 1.4rem;
  line-height: 1;
}

.hero__deposit-desc {
  margin-left: 8px;
  font-weight: 600;
  color: #31456a;
}
.hero__deposit-price-tag {
  margin-left: 19px;
  color: #4ab5e3;
}
.hero__interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  top: 127px;
  right: -174px;

  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #da6464;
}

.hero__interest-percentage {
  font-size: 4.4rem;
  font-weight: 600;
  color: #fff;
}

.hero__interest-desc {
  font-size: 1.6rem;
  color: #fff;
}

.hero__fund {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 11px;

  bottom: 61px;
  right: -74px;

  width: 124px;
  height: 68px;
  border-radius: 10px;
  background: #439f90;
}

.hero__fund-price-tag {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
}
.hero__fund-desc {
  margin-top: 5px;
  font-size: 0.8rem;
  line-height: 0.8;
  color: #fff;
}
