* {
  box-sizing: border-box;
}

:root {
  --primary-color: #7264d6;
  --secondary-color: #212832;
  --text-color: #696d76;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  background: #fff;
}

/* Common */
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--secondary-color);
}

input,
textarea,
select,
button {
  font-size: inherit;
  font-family: inherit;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.btn {
  --height: 58px;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  min-width: 149px;
  height: var(--height);
  line-height: var(--height);
  border-radius: 8px;
  background: var(--primary-color);

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.75;
  color: #fff;
}

.btn:hover {
  opacity: 90%;
  cursor: pointer;
}

.section-desc {
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--text-color);
}

.section-label {
  position: relative;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--text-color);
}
.section-label::before {
  position: absolute;
  top: 14px;
  left: -30px;

  content: "";
  width: 18px;
  height: 2px;
  background: var(--text-color);
}

.section-heading {
  margin-top: 12px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
  color: var(--secondary-color);
}

/* Header */
.header {
  padding: 26px 0;
}

.header__body {
  display: flex;
  align-items: center;
}

.navbar {
  margin-left: 70px;
}
.navbar__list {
  display: flex;
}

.navbar__link,
.header-cta__login {
  padding: 8px 24px;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--text-color);
}

.navbar__link:hover,
.header-cta__login:hover {
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active {
  position: relative;
  color: var(--secondary-color);
}

.navbar__link--active::after {
  position: absolute;
  bottom: 7px;
  left: 23px;

  content: "";
  display: inline-block;
  width: calc(100% - 48px);
  height: 1px;
  border-radius: 0.5px;
  background: var(--primary-color);
}

.header-cta {
  margin-left: auto;
}
.header-cta__login {
  margin-right: 4px;
}

.header-cta__sign-up {
  --height: 52px;
  min-width: 113px;
  background: var(--secondary-color);
}

.header-cta__sign-up:hover {
  opacity: 90%;
}

/* Hero */
.hero {
  margin-top: 50px;
}

.hero__body {
  display: flex;
  align-items: center;
}
.hero__content {
  width: 46%;
}

.hero__label {
  margin-left: 30px;
}

.hero__heading,
.hero__span {
  margin-top: 12px;
  color: var(--secondary-color);
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.17;
}
.hero__span {
  color: var(--primary-color);
}
.hero__desc {
  margin-top: 20px;
  width: 540px;
}
.subscribe-form {
  margin-top: 40px;
  display: flex;
  align-items: center;

  width: 540px;
  height: 74px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.07);
}
.subscribe-form__input {
  padding: 23px;
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  border-radius: inherit;
  font-size: 1.6rem;
  line-height: 1.75;
  color: var(--text-color);
}
.subscribe-form__submit {
  margin: 8px 8px 8px 0;
  outline: none;
  border: none;
}
.subscribe-form__desc {
  margin-top: 20px;
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1.71;
  color: var(--text-color);
}

.hero__media {
  position: relative;
  margin-left: 160px;
}
.hero__img {
  width: 296px;
  height: 562px;
  border-radius: 40px;
}

.hero__deposit,
.hero__interest,
.hero__fund {
  position: absolute;
}

.hero__deposit {
  display: flex;
  align-items: center;
  top: 113px;
  left: -100px;
  padding: 14px 10px;

  width: 174px;
  height: 46px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.07);
  font-size: 1.4rem;
  line-height: 1;
}

.hero__deposit-desc {
  margin-left: 8px;
  font-weight: 600;
  color: #31456a;
}
.hero__deposit-price-tag {
  margin-left: 19px;
  color: #4ab5e3;
}
.hero__interest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  top: 127px;
  right: -174px;

  width: 130px;
  height: 130px;
  border-radius: 50%;
  background: #da6464;
}

.hero__interest-percentage {
  font-size: 4.4rem;
  font-weight: 600;
  color: #fff;
}

.hero__interest-desc {
  font-size: 1.6rem;
  color: #fff;
}

.hero__fund {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 11px;

  bottom: 61px;
  right: -74px;

  width: 124px;
  height: 68px;
  border-radius: 10px;
  background: #439f90;
}

.hero__fund-price-tag {
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
  color: #fff;
}
.hero__fund-desc {
  margin-top: 5px;
  font-size: 0.8rem;
  line-height: 0.8;
  color: #fff;
}

/* Bank Content */
.content {
  margin-top: 160px;
}

.content__body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-items: center;
  column-gap: 130px;
  row-gap: 160px;
}

.content__media-body {
  position: relative;
}
.content__image-wrapper {
  position: relative;
}

.content__image-wrapper::after {
  position: absolute;
  left: 0;
  bottom: 0;

  content: "";
  width: 470px;
  height: 550px;

  background-image: url(../img/background-01.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}
.content__img {
  position: relative;
  z-index: 1;

  display: block;
  width: 456px;
  margin-left: 7px;
}

.content__bank {
  position: absolute;
  bottom: 479px;
  left: 353px;

  width: 64px;
  height: 64px;
  border-radius: 8px;
  background: var(--primary-color);
}

.content__bank::after {
  position: absolute;
  top: 12px;
  right: 12px;

  display: inline-block;
  content: "";
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #f8fbfe;
}

.content__bank-icon {
  position: relative;
  top: 20px;
  right: -18px;
  z-index: 1;
}

.content__check {
  display: flex;
  align-items: center;
  column-gap: 10px;

  position: absolute;
  bottom: 96px;
  right: 18px;
  z-index: 1;

  padding: 15px;
  width: 226px;
  height: 70px;
  border-radius: 8px;
  background: #fffdfa;
  box-shadow: 0px 14px 34px 0px rgba(0, 0, 0, 0.07);
}

.check-block__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background: #4ab5e3;
}

.check-block__wrapper::after {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
}

.check-block__icon {
  position: relative;
  z-index: 1;
}

.content__check-label {
  font-family: Inter, sans-serif;
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--secondary-color);
}
.content__check-desc {
  margin-top: 5px;
  font-family: Inter, sans-serif;
  font-size: 1.2rem;
  color: var(--text-color);
}

.content__label {
  margin-left: 33px;
}

.content__info:nth-of-type(1) .content__heading {
  margin-bottom: 70px;
}

.article {
  margin-top: 30px;
  width: 470px;
}
.article__heading {
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.45;
  color: var(--secondary-color);
}

.article__desc {
  margin-top: 16px;
  font-size: 1.6rem;
  line-height: 1.75;
}

.section-desc {
  width: 470px;
  margin-top: 20px;
}

.content__list {
  margin-top: 28px;
}

.content__item {
  position: relative;
  padding-left: 24px;
  margin-top: 18px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  color: var(--secondary-color);
}

.content__item::before {
  position: absolute;
  top: 8px;
  left: 0;
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: var(--primary-color);
}

.content__btn {
  margin-top: 38px;
  outline: none;
  border: none;
  background: var(--secondary-color);
}

.visa__wrapper {
  position: relative;
}

.visa__image {
  width: 482px;
  height: 322px;
}

.visa__payment {
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: absolute;
  top: -48px;
  right: -88px;

  font-family: Inter, sans-serif;
  padding: 23px 14px;
  width: 276px;
  height: 86px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 14px 38px 0px rgba(0, 0, 0, 0.07);
}
.visa__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 14px;

  width: 40px;
  height: 40px;
  border-radius: 8px;
  background: #fbefef;
  box-shadow: -4px -2px 16px 0px #fff,
    4px 2px 16px 0px rgba(136, 165, 191, 0.48);
}

.visa__label {
  flex-grow: 1; /* Allow the label to take up remaining space */
}

.visa__label-bold,
.visa__price {
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--secondary-color);
}
.visa__label-normal,
.visa__date {
  margin-top: 4px;
  font-size: 1rem;
  color: var(--text-color);
}

.visa__details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.visa__income {
  position: absolute;
  bottom: -55px;
  right: -55px;

  padding: 15px;
  width: 120px;
  height: 120px;
  border-radius: 16px;
  background: #439f90;
  color: #fff;
}

.visa__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 30px;
  height: 30px;
  border-radius: 8px;
  background: #fff;
}

.visa__income-label {
  margin-top: 14px;
  font-size: 1.2rem;
}
.visa__income-price {
  margin-top: 6px;
  font-size: 1.8rem;
  font-weight: 600;
}

.content__media:last-of-type .content__image-wrapper::after {
  background-image: url(../img/background-02.png);
}

.content__media:last-of-type .content__img {
  width: 413px;
  margin-left: 28px;
}

.content__money-paper {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 288px;
  right: -64px;
  z-index: 2;

  width: 90px;
  height: 90px;
  border-radius: 50%;
  background: var(--primary-color);
}

.content__cards {
  position: absolute;
  bottom: 58px;
  right: -25px;
  z-index: 1;

  padding: 28px;
  width: 281px;
  height: 220px;
  border-radius: 4px;
  box-shadow: 0px 44px 48px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.content__card-label {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  color: var(--secondary-color);
}
.card-list {
  margin-top: 18px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 18px;
  row-gap: 18px;
}

.card-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 63px;
  height: 48px;
  border-radius: 4px;
  background: #f2f2fa;
}

.card-list .card-item:last-child {
  background: #f9ea63;
}

/* Client */
.client {
  margin-top: 160px;
}

.client__top {
  text-align: center;
}

.client__label {
  display: inline-block;
  padding-left: 30px;
}

.client__label::before {
  top: 14px;
  left: 0;
}

.client__desc {
  margin: 18px auto 0;
  width: 435px;
  font-size: 1.6rem;
  line-height: 1, 75;
}

.client__bottom {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
}

.client__feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Create Bubble Chat */
.client__bubble-chat {
  position: relative;
  padding: 42px 28px;
  width: 570px;
  height: 254px;
  border: 1px solid #dfe2e8;
  border-radius: 14px;
  background: #fff;
  transition: 0.5s;
}

.client__bubble-chat::after {
  position: absolute;
  left: 43%;
  transform: translateX(-55%);
  bottom: -40px;

  content: "";
  width: 43px;
  height: 43px;
  background: #fff;
  border: 1px solid;
  border-color: #dfe2e8 #dfe2e8 transparent transparent;
  rotate: 135deg;
}

.client__bubble-chat:hover {
  filter: drop-shadow(0px 22px 54px rgba(0, 0, 0, 0.07));
  transform: translateY(-10px);
}

.client__conversation {
  text-align: center;
  font-style: italic;
  font-size: 2.2rem;
  line-height: 1.54;
  color: var(--text-color);
}

.client__profile {
  margin: 96px auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client__avatar {
  width: 104px;
  height: 104px;
  border-radius: 50%;
  object-fit: cover;
}

.client__name {
  margin-top: 20px;
  font-size: 2.6rem;
  font-weight: 600;
  line-height: 1.38;
  color: #070052;
}

.client__job {
  margin-top: 2px;
  font-size: 1.8rem;
  line-height: 1.67;
  color: var(--text-color);
}

.client__dots {
  margin-top: 38px;
  display: flex;
  justify-content: center;
  column-gap: 12px;
}

.client__dot {
  width: 22px;
  height: 6px;
  background: #fff;
  border-radius: 1px;
  border: 1px solid #9b9fab;
}

.client__dot-active {
  background: var(--primary-color);
  border: 1px solid var(--primary-color);
}

/* Blog */
.blog {
  margin-top: 160px;
}

.blog__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog__label {
  margin-left: 30px;
}

.blog__heading {
  margin-top: 6px;
}

.blog__desc {
  margin-top: 18px;
  font-size: 1.6rem;
  line-height: 1.75;
}

.blog__btn {
  outline: none;
  border: none;
  min-width: 123px;
  background: var(--secondary-color);
}

.blog__bottom {
  margin-top: 70px;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 30px;
}

.blog__article {
  display: flex;
  align-items: center;
  column-gap: 22px;

  padding: 28px;
  border-radius: 12px;
  border: 1px solid #dfe2e8;
  transition: 0.5s;
}

.blog__article:hover {
  box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.07);
  transform: translateY(-10px);
}

.blog__article:hover .blog__link {
  color: var(--primary-color);
  text-decoration: underline;
}

.blog__img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 12px;
}

.blog__time {
  font-size: 1.4rem;
  line-height: 1.71;
  color: var(--text-color);
}
.blog__title {
  margin-top: 10px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  color: var(--secondary-color);
}

.blog__link {
  display: inline-block;
  margin-top: 20px;
  font-size: 1.6rem;
  line-height: 1.62;
  color: var(--text-color);
}

/* App */
.app {
  margin-top: 160px;
  color: #fff;
}

.app__body {
  position: relative;
  text-align: center;
  padding: 100px 368px;
  background: var(--primary-color);
  border-radius: 24px;
}

.app__title {
  display: inline-block;
  color: inherit;
}

.app__title::before {
  background: #fff;
}

.app__heading {
  color: inherit;
}

.app__desc {
  color: inherit;
}
.app__store {
  margin-top: 38px;
  display: flex;
  column-gap: 16px;
}

.app__store-google,
.app__store-apple {
  --height: 64px;

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 182px;
  outline: none;
  border: none;
  border-radius: 6px;
  background: #fff;
}

.app__decor {
  position: absolute;
}

.app__decor:nth-of-type(1) {
  top: 50px;
  left: 112px;
}

.app__decor:nth-of-type(2) {
  bottom: 49px;
  left: 166px;
}
.app__decor:nth-of-type(3) {
  top: 50px;
  right: 112px;
}
.app__decor:nth-of-type(4) {
  bottom: 49px;
  right: 166px;
}

/* Footer */
.footer {
  margin-top: 100px;
  background: #fafbff;
}

.footer__content {
  padding-top: 100px;
  display: flex;
  column-gap: 163px;
}

.footer__title,
.footer__item,
.footer__desc {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  color: var(--secondary-color);
}

.footer__list {
  margin-top: 24px;
}

.footer__item {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: 400;
  color: #6a6e78;
}

.footer__item:hover {
  text-decoration: underline;
}

.footer__desc {
  width: 371px;
  margin-top: 24px;
  font-weight: 400;
  word-wrap: break-word;
  color: #6a6e78;
}

.footer__form {
  margin-top: 48px;
}

.footer__subscribe-form {
  margin-top: 24px;
  display: flex;
  column-gap: 20px;
}

.footer__subscribe-input {
  padding: 12px;
  width: 270px;
  height: 52px;
  border: none;
  outline: none;
  border-radius: 6px;
  border: 1px solid #8e919a;

  font-size: 1.6rem;
  line-height: 1.75;
  color: #8e919a;
}

.footer__subscribe-btn {
  --height: 52px;

  min-width: 113px;
  outline: none;
  border: none;
}

.footer__contact {
  margin-top: 54px;
  display: flex;
  column-gap: 100px;

  font-size: 1.8rem;
  line-height: 1.67;
  text-decoration-line: underline;
  color: var(--text-color);
}

.footer__copyright {
  padding: 28px 578px;
  margin-top: 28px;
  background: var(--primary-color);
}

.footer__copyright-desc {
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #fff;
}
